<h1>Create Flight</h1>

<p>Airline: {{ airline }}</p>

<form method="POST">
  Flight #: <input name="flight_num"><br>
  Departure Airport: <input name="departure_airport"><br>
  Departure Time: <input type="datetime-local" name="departure_time"><br>
  Arrival Airport: <input name="arrival_airport"><br>
  Arrival Time: <input type="datetime-local" name="arrival_time"><br>
  Base Price: <input name="price"><br>
  Airplane ID: <input name="airplane_id"><br>
  <button type="submit">Create</button>
</form>

