<!DOCTYPE html>
<html>
<head>
    <title>Login</title>
</head>
<body>

<h2>Login</h2>

<form action="/loginAuth" method="POST">

    <label>Login as:</label><br>
    <select name="login_type" required>
        <option value="customer">Customer</option>
        <option value="agent">Booking Agent</option>
        <option value="staff">Airline Staff</option>
    </select>
    <br><br>

    <label>Email / Username:</label><br>
    <input type="text" name="username" required>
    <br><br>

    <label>Password:</label><br>
    <input type="password" name="password" required>
    <br><br>

    <button type="submit">Login</button>
</form>

<hr style="margin-top:20px; width:300px;">

<p style="margin-top:10px;">
    Don't have an account?  
    <a href="/register">Register here</a>.
</p>

{% if error %}
<p style="color:red;">{{ error }}</p>
{% endif %}

<script>
if (window.location.pathname.endsWith("login.html")) {
    window.location.href = "/login";
}
</script>

</body>
</html>
