<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title> Purchased Flights </title>
    
    <link rel="icon" href="https://upload.wikimedia.org/wikipedia/commons/thumb/6/69/How_to_use_icon.svg/1200px-How_to_use_icon.svg.png">
    
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400&display=swap" rel="stylesheet">
    
  </head>
  <body>
    <nav>
      <ul>
        <li class = "navTitle"> <a href="{{ url_for('home') }}">  Home </a>
        </li>
        <li class = "navTitle"> <a href="{{ url_for('flight_search') }}">  Flight Search </a>
        </li>
      </ul>
    </nav>
    {# {% if 'username' in session %}
      {% if session['acc_type'] == 'customer'%}
        <li class = "navTitle"> <a href="{{url_for('purchased_flights')}}"> Purchased Flights </a> </li>
        <li class = "navTitle"> <a href="{{url_for('flight_search')}}"> Flight Search </a> </li>
        <li class = "navTitle"> <a href="{{url_for('spending')}}"> Past Spending </a> </li>
      {% if session['acc_type'] == 'agent'%}
      {% if session['acc_type'] == 'staff'%}
    {%endif%} #}
    <h1> Purchased Flights </h1>

    <form action = "/purchased_flights" method = "POST">
        <input type = "text" name = "origin" placeholder = "Origin Airport"> </input>
        <br>
        <br>
        <input type = "text" name = "dest" placeholder = "Destination Airport"> </input>
        <br>
        <br>
        <p> Departure Date </p>
        <input type = "date" name = "dep_date"> </input>
        <p> Arrival Date </p>
        <input type = "date" name = "arr_date"> </input>
        <br>
        <button type = "submit"> Search </button>
    </form>

    {% if flights%}
        <ul>
        {% for f in flights %}
        <li>Ticket ID:{{ f['ticket_id'] }} </li>
        <li>Airline:{{ f['airline_name'] }} </li>
        <li>Flight#:{{ f['flight_num'] }} </li>
        <li>Departure Airport:{{ f['departure_airport'] }} </li>
        <li>Departure Time:{{ f['departure_time'] }} </li>
        <li>Arrival Airport:{{ f['arrival_airport'] }} </li>
        <li>Arrival Time:{{ f['arrival_time'] }} </li>
        <br>
        <br>
        {%endfor%}
        </ul>
    {% endif%}
    <br>
    <br>
    <a href="{{url_for('cust_dashboard')}}"> Back to Dashboard </a>
    
    <script src="{{ url_for('static', filename='script.js') }}"></script>
  </body>
</html>