<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title>Register</title>
    
    <link rel="icon" href="https://upload.wikimedia.org/wikipedia/commons/thumb/6/69/How_to_use_icon.svg/1200px-How_to_use_icon.svg.png">
    
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400&display=swap" rel="stylesheet">
    
  </head>
  
  <body id = "page">
    <header> NYUSH Airlines <br>
      <div id="google_translate_element"></div>
      <script type="text/javascript">// <![CDATA[
      function googleTranslateElementInit() {
      new google.translate.TranslateElement({pageLanguage: 'en', layout: google.translate.TranslateElement.InlineLayout.SIMPLE}, 'google_translate_element');
      }
      // ]]></script>
      <script src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit" type="text/javascript"></script>
    </header>
    <nav>
      <ul>
        <li class = "navTitle"> <a href="{{ url_for('home') }}">  Home </a>
        </li>
        <li class = "navTitle"> <a href="{{ url_for('inprogress') }}">  In Progress Flights </a>
        </li>
        <li class = "navTitle"> <a href="{{ url_for('upcoming') }}">  Upcoming Flights </a>
        </li>
      </ul>
    </nav>
    
    <h1> Register Account </h1>
    <main>
    
    <form action = "/registerAuth" method = "POST">
      <select onchange="registerForm()" id = "acc_type" name = "register_type">
        <option value="" disabled selected>Account Type</option>
        <option value = 'customer'>Customer</option>
        <option value = 'agent'>Booking Agent</option>
        <option value = 'staff'>Airline Staff</option>
      </select>
      <br>
      <br>
      <div id="agent" class = "toggleForm">
        <input type = "text" name = "username" placeholder = "Email"> </input>
      </div>

      <div id="customer" class = "toggleForm">
        <input type = "text" name = "username" placeholder = "Email"> </input>
        <br>
        <br>
        <input type = "text" name = "name" placeholder = "Name"> </input>
        <br>
        <br>
        <input type = "number" name = "buildingnum" placeholder = "Building Number"> </input>
        <br>
        <br>
        <input type = "text" name = "street" placeholder = "Street"> </input>
        <br>
        <br>
        <input type = "text" name = "city" placeholder = "City"> </input>
        <br>
        <br>
        <input type = "text"  name = "state" placeholder = "State"> </input>
        <p>Phone Number</p>
        <input type = "tel"  name = "tel" pattern="[0-9]{3}-[0-9]{3}-[0-9]{4}" placeholder = "XXX-XXX-XXXX"> </input>
        <p>Passport Number</p>
        <input type = "text" name = "passportid" placeholder = "Passport Number"> </input>
        <p>Passport Expiration</p>
        <input type = "date" name = "passportexp" placeholder = "Passport Expiration"> </input>
        <br>
        <br>
        <input type = "text" name = "country" placeholder = "Passport Country"> </input>

        <p>DOB</p>
        <input type = "date" name = "dob" placeholder = "DOB"> </input>
      </div>

      <div id="staff" class = "toggleForm">
        <input type = "text" name = "username" placeholder = "Username"> </input>
        <br>
        <br>
        <input type = "text" name = "first_name" placeholder = "First Name"> </input>
        <br>
        <br>
        <input type = "text" name = "last_name" placeholder = "Last Name"> </input>
        <br>
        <br>
        <input type = "text" name = "airline" placeholder = "Airline Name"> </input>
        <br>
        <br>
        <p> Role </p>
        <select>
          <option>Admin</option>
          <option>Operator</option>
          <option>Both</option>
        </select>
        <p>DOB</p>
        <input type = "date" name = "dob" placeholder = "DOB"> </input>
      </div>

      <input class = "toggleForm" id = 'pwd' type = "password" name = "password" placeholder = "Password" required> </input>
      <br>
      <br>
      <!-- can implement later to confirm pwd
      <br>
      <br>
      <input type = "password" name = "password2" placeholder = "Confirm Password" required> </input> -->

      <button type = "submit"> Register </button>
      {% if error %}
        <p class = "error"> <strong>Error:</strong></p>
      {% endif %}
    </form>
    <p> Already have an account? <a href="{{ url_for('login') }}"> Login. </a> </p>
    
  
  </main>

    <script src="{{ url_for('static', filename='script.js') }}"></script>
  </body>
</html>